<h1>Add Course</h1>

<form action="/add" method="POST">
  <div class="input-field ">
    <input  id="title" name="title" type="text" class="validate" required>
    <label for="title">Course Name</label>
    <span class="helper-text" data-error="Enter valid Course Name" ></span>
  </div>

  <div class="input-field ">
    <input  id="price" name="price" type="number" class="validate" required min= '1'>
    <label for="price">Course Price</label>
    <span class="helper-text" data-error="Enter the price" ></span>
  </div>

  <div class="input-field ">
    <input  id="img" name="img" type="text" class="validate" required>
    <label for="img">IMAGE URL</label>
    <span class="helper-text" data-error="Enter the URL"></span>
  </div>
  <button class="btn waves-effect waves-light" type="submit">Submit
    <i class="material-icons right">edit</i>
  </button>
</form>